/* цвет заголовков чёрный #212121; */
/* цвет текста #757575;*/
/* цвет заголовков белый, цвет текста на кнопках и основной цвет фона #FFFFFF;  */
/* акцент и цвет ховера #2196F3; */
/* вторичный цвет фона #F5F4FA; */
/* цвет футера #2F303A; */
/* прозрачный фон rgba(47, 48, 58, 0.8); */
/* цвет текста в футере rgba(255, 255, 255, 0.6); */

:root {
  --main-text-color: #757575;
  --primary-text-color-and-background: #ffffff;
  --title-text-color: #212121;
  --accent-button-and-hover-color: #2196f3;
  --background-color-second: #f5f4fa;
  --opacity-background-color: rgba(47, 48, 58, 0.8);
  --footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  background-color: var(--primary-text-color-and-background);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/*Utilities*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /*outline: 2px solid tomato;*/
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  text-decoration: none;
}

/*logo*/
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-button-and-hover-color);
}

/*site navigation*/
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
/*
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
*/
.site-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-button-and-hover-color);
}
.site-nav .link.current {
  color: var(--accent-button-and-hover-color);
}

/*address*/
.address {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.address-link {
  display: flex;
  align-items: center;
  min-width: 142px;
  height: 16px;
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-button-and-hover-color);
}

.address-link + .address-link {
  margin-left: 30px;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-mail:hover {
  --color3: var(--accent-button-and-hover-color);
  cursor: pointer;
}
.icon-mobile {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.icon-mobile:hover {
  --color3: var(--accent-button-and-hover-color);
  cursor: pointer;
}
/*banner*/
.banner {
  text-align: center;
}

.banner .overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--opacity-background-color),
      var(--opacity-background-color)
    ),
    url(../images/banner-resize.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;

  color: var(--primary-text-color-and-background);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /*outline: 2px solid tomato;*/
}
.button {
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-text-color-and-background);
  background-color: var(--accent-button-and-hover-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/*section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.one-padding {
  padding-top: 94px;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*features*/
.feature-list {
  display: flex;
}

.icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-color-second);
}

.icon-feature {
  display: flex;
  width: 70px;
  height: 70px;
}

/*.feature-list .item::before {
  display: flex;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color-second);
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
*/
.feature-list .item + .item {
  margin-left: 30px;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

/*work*/
.work-list {
  display: flex;
}
.photo1 {
  max-width: 370px;
  height: 294px;
  background-image: url(../images/desktop.jpg);
}
.photo2 {
  max-width: 370px;
  height: 294px;
  background-image: url(../images/mobile.jpg);
}
.photo3 {
  max-width: 370px;
  height: 294px;
  background-image: url(../images/design.jpg);
}
.work-list .item + .item {
  margin-left: 30px;
}
.work-list .title {
  display: inline-flex;
  margin-top: 225px;
  margin-bottom: 0;
  padding: 27px 72px;
  min-width: 370px;

  color: var(--primary-text-color-and-background);
  background-color: var(--opacity-background-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*team*/
.section.background {
  background-color: var(--background-color-second);
}
.team-list {
  display: flex;
  text-align: center;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}
/*social-links*/
.social-links {
  display: flex;
  justify-content: center;
}
.social-links .item + .item {
  margin-left: 10px;
}
.social-links .link {
  display: inline-flex;
  height: 44px;
  width: 44px;
  background-image: url(../images/instagram.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-button-and-hover-color);
}

/*clients*/

.clients {
  display: flex;
}
.clients .item {
  display: block;
  min-width: 170px;
  padding: 22px 41px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients .item + .item {
  margin-left: 30px;
}

.clients .img {
  display: block;
}

/*footer*/
.footer {
  padding-top: 45px;
  color: var(--primary-text-color-and-background);
  background-color: var(--footer-color);
}
.footer-flex {
  display: flex;
}
.footer-flex .left {
  margin-right: 69px;
}
.footer-logo {
  display: block;
  margin-bottom: 8px;
  color: var(--primary-text-color-and-background);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-adress {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-address-link {
  color: var(--footer-text-color);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-button-and-hover-color);
}
.footer-flex .middle {
  margin-right: 94px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--footer-text-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/*portfolio*/

/*filter*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--background-color-second);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
}
.btn:hover,
.btn:focus {
  color: var(--primary-text-color-and-background);
  background-color: var(--accent-button-and-hover-color);
}

.btn.active {
  background-color: var(--accent-button-and-hover-color);
}
.filter .item + .item {
  margin-left: 8px;
}

/*projects*/

.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects .item:nth-child(3n) {
  margin-right: 0;
}
.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/*Alternarive*/
/*
.projects .item:not(:nth-child(3n))
.projects .item:not(:nth-last-child(-n + 3))

*/
.projects-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-filter {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.projects-text {
  display: none;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color-and-background);
  font-size: 18px;
  line-height: 1.56;
}
